/* Animaciones de login */
.pagina {
     animation: fadeIn 0.5s ease-in-out;
 }

@keyframes fadeIn {
     from {
         opacity: 0;
         transform:translateY(-30px);
     }
     to {
         opacity: 1;
         transform:translateY(0);
     }
 }

 .marca-logo
 .marca-texto{
    animation: logo 0.5s ease-in-out;
 }

@keyframes logo {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.form-interior{
    animation: form 0.5s ease-in-out;
}

@keyframes form {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Animaciones del contenido principal*/

.nav-animado {
    animation: nav 0.8s ease-out 1 forwards;
}

@keyframes nav {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-content {
    animation: mainContent 0.8s ease-in-out;
}

@keyframes mainContent {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.content-frame {
    position: relative;
    overflow: hidden; 
}

